<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=sachabarberdemo;AccountKey=dbEERHkN4OU1rg+o2BTgM45qpuNPITIN2moL1B1x+Q5E/Yg6cIPz+W5LWGhqBxPF66F+T+xgoDM5VB1VCWSXYw=="/>
  </connectionStrings>  
</configuration>